#tables {
   display: flex;
   justify-content: center;
}

#table {
  margin-right: 3em;
}

.form-show, input {
    margin-right: 20px;
}

h1, h2 {
    text-align: center;
}

.text-center {
    text-align: center;
}